*{
    padding: 0px;
    margin: 0px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading hr{
    margin: 0px 50px;
    width:8%;
    height: 3px;
    background-color: rgb(252, 38, 120);
    border: 0;
}
.offer_section{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4% 2%;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.offer_section > div{
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5%;
}
.card_header img{
    width: 100%;
    border-radius: 10px;
}
.card_footer> div{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.card_footer h3{
    border: 1px dashed rgb(252, 38, 120);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2%;
    color: rgb(252, 38, 120);
    background-color: rgb(255, 235, 242);
}
.card_footer span{
   border: 1px dashed rgb(252, 38, 120);
   border-left: 0;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   padding: 2%;
   background-color: rgb(255, 235, 242);
   text-align: center;
}

@media (max-width:780px) {
    .offer_section{
        grid-template-columns: repeat(1,1fr);
        gap: 1%;
    }
}